
@import "../fonts/style.css";


html, body{
  width:100%;
  height:100%;
  font-size:10px;
  margin: 0;
  padding: 0;
}

body{
	background: #eee url('../images/bg4.jpg') fixed no-repeat center;
  background-size: cover;
  font-family: 'Helvetica Neue', Tahoma, Arial, 'Microsoft Yahei', 宋体, 黑体, sans-serif;
  // font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti!important
}

h1,h2,h3{
  margin:0;
  padding:0;
}

h2{
	font-size: 30px;
	text-align: center;
}



