@input-height: 40px;
@input-border: #969da3;
@btn-width-large: 130px;
@btn-width-default: 76px;
@btn-width-mirco: 60px;
@btn-height-large: 46px;
@btn-height-default: 34px;
@btn-height-mirco: 26px;
@checkbox-background: #7fcb9f;
@checkbox-border: #7fcb9f;
.robin {
  &-textfield {
    width: 100%;
    margin: 4px 0;
    &--input {
      width: 100%;
      height: @input-height;
      padding: 0 8px;
      font-size: 15px;
      box-sizing: border-box;
      border: 1px solid @input-border;
      border-radius: 2px;
      outline: none;
      &_default {
        :focus {
          box-shadow: 0 2px 2px 3px red;
        }
      }
    }
  }
  &-btn {
    border: none;
    text-align: center;
    box-sizing: border-box;
    border-radius: 2px;
    color: #fff;
    font-size: 13px;
    letter-spacing: 2px;
    &__default {
      min-width: @btn-width-default;
      height: @btn-height-default;
      background: #00a9e8;
      border: 1px solid #009ed7;
    }
  }
  &-checkbox {
    height: 16px;
    padding: 2px 0 2px 20px;
    display: inline-block;
    border: @input-border;
    border-radius: 2px;
    position: relative;
    &--input {
      display: none;
      &:checked ~ .robin-checkbox--label {
        border: 2px solid @checkbox-border;
        background: @checkbox-background;
      }
      &:checked ~ .robin-checkbox--tick {
        display: block;
      }
      &_default {}
    }
    &--label {
      display: inline-block;
      box-sizing: border-box;
      width: 16px;
      height: 16px;
      margin: 0;
      cursor: pointer;
      overflow: hidden;
      border: 2px solid rgba(0, 0, 0, .54);
      border-radius: 2px;
      transition-duration: .28s;
      transition-timing-function: cubic-bezier(.4, 0, .2, 1);
      transition-property: background;
      position: absolute;
      left: 2px;
      top: 2px;
    }
    &--tick {
      display: none;
      box-sizing: border-box;
      width: 12px;
      height: 6px;
      margin: 0;
      cursor: pointer;
      overflow: hidden;
      border-radius: 2px;
      transition-duration: .28s;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: background;
      position: absolute;
      left: 4px;
      top: 6px;
      border-style: solid;
      border-color: transparent transparent #fff #fff;
      border-width: 0 0 2px 2px;
      transform: rotateZ(-50deg);
    }
  }
}
