.app {
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.animate_routerview-transition {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.animate_routerview-enter,
.animate_routerview-leave {
  opacity: 0;
  height: 0;
  -webkit-transform: translate3d(20px, 0, 0);
          transform: translate3d(20px, 0, 0);
}
.task-container {
  max-width: 660px;
  min-width: 500px;
  margin: 30px auto;
  height: 65%;
  box-sizing: border-box;
}
.task-list-container {
  box-sizing: border-box;
  margin-top: 15px;
}
.task-list {
  /*transform: perspective(1000px);*/
}
/* ====================================================== */
/* Variables
/* ====================================================== */
.red {
  color: #f00;
}
.dib {
  display: inline-block;
}
.app-main {
  box-sizing: border-box;
}
.modify {
  width: 100%;
  box-sizing: border-box;
  line-height: 34px;
  height: 34px;
  padding: 0 4px;
}
.task-item .collapsible-body {
  background: #fff;
}
.task-header {
  height: 44px;
  line-height: 34px;
  box-sizing: border-box;
  font-size: 1.4rem;
  color: #343434;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
  line-height: 2em;
  padding: .7em;
  padding-right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.task-header.collapsible-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.task-header.finished .task-content {
  cursor: default;
  text-decoration: line-through;
}
.task-header.editing .task-content > div {
  display: none;
}
.task-header.editing .task-content > input {
  display: inline-block;
  vertical-align: middle;
}
.task-header.expaned {
  -webkit-transform: rotateX(100deg);
          transform: rotateX(100deg);
}
.task-header.visiable {
  visibility: hidden;
}
.task-header:hover .task-actions {
  display: block;
}
.task-body {
  padding: 1em;
  font-size: 1.6rem;
}
.task-checker {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.task-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
}
.task-content > input {
  @extend .modify;
  border: 1px solid #d4d4d4;
  display: none;
  outline: none;
  font-size: 14px;
}
.task-content > div {
  padding: 0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-user-select: none;
}
#task-completed {
  display: none;
}
.task-footer a {
  display: inline-block;
}
.task-footer .todo-count {
  display: inline-block;
}
#task-category .list-group-item {
  background: rgba(255, 255, 255, 0.8);
}
/*
  Task item animation
 */
.animation_showtask-transition {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.animation_showtask-enter,
.animation_showtask-leave {
  opacity: 0;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
.animation_showtask-enter {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
.animation_showtask-leave {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
/* ====================================================== */
/* Variables
/* ====================================================== */
.modal.bottom-sheet {
  max-height: 60%;
}
.task-inputer {
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  background: #fff;
}
.task-inputer-bar {
  overflow: hidden;
}
.task-inputer-bar > [class^="icon"] {
  display: inline-block;
  width: 20px;
  text-algin: center;
  margin: 0 6px;
  font-size: 16px;
}
.task-inputer > textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;
  padding: 8px;
  font-size: 14px;
  border: none ;
  background: none;
  font-family: '\5FAE\8F6F\96C5\9ED1';
  color: #6B6B6B;
  outline: none;
  resize: none;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.task-images {
  padding: 0 4px;
  width: 100%;
  background: $white;
  box-sizing: border-box;
}
.task-images > div {
  box-sizing: border-box;
  width: 2	0%;
  padding: 8px 4px;
  height: 140px;
  display: inline-block;
}
.task-images .img-box {
  display: block;
  height: 100%;
}
.home {
  height: 100%;
}
.home .clock {
  -webkit-user-select: none;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.home .clock > h1 {
  display: inline-block;
  font-size: 15em;
  font-weight: lighter;
  letter-spacing: -2px;
  line-height: 0;
}

.login-form {
  width: 400px;
  padding: 14px;
  box-sizing: box-sizing;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.8);
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('../fonts/Material Icons'), local('../fonts/MaterialIcons-Regular'), url(/build/fonts/c58629e330eaf128316a142320407d74.woff2) format('woff2'), url(/build/fonts/3c3d0242794b4682460a3f7c7a2126ee.woff) format('woff'), url(/build/fonts/a37b0c01c0baf1888ca812cc0508f6e2.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
/* ====================================================== */
/* Variables
/* ====================================================== */
html,
body {
  font-size: 10px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100%;
  font-family: 'Helvetica Neue', Tahoma, Arial, 'Microsoft Yahei', '\5B8B\4F53', '\9ED1\4F53', sans-serif;
  background-color: #ECECEC;
  background-size: cover;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 30px;
  text-align: center;
}
input {
  font-family: 'Helvetica Neue', Tahoma, Arial, 'Microsoft Yahei', '\5B8B\4F53', '\9ED1\4F53', sans-serif;
}
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.box-center {
  margin-right: auto;
  margin-left: auto;
}
.text-center {
  text-align: center;
}
.grid-12 {
  width: 100%;
}
.grid-6 {
  width: 50%;
}
.bg-layer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/*# sourceMappingURL=style.bundle.css.map*/