/* ====================================================== */
/* Variables
/* ====================================================== */
// @body-background: #ECECEC;
@body-background: #eceff1;
@white: #fff;
/**
 * side menu
 */
@sidemenu-spearate-line: #ddd;
@sidemenu-width: 250px;
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/**
 * task detail card
 */

@taskdetail-container-background: #f7f7f7;
@taskdetail-container-header-background: #fff;
@taskdetail-spearate-line: #ebebeb;
@taskdetail-card-width: 380px;
