/* ====================================================== */
/* Variables
/* ====================================================== */

@white: #fff;
// @sideMenuWidth: 280px;
@sideMenuWidth: 240px;

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
